body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', arial;
}

header {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-left: 0;
    
}


h3 {
    color: white;
    font-size: 24px;
    color: #F9FAF8;
    
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background: #3882F6;
    border: 1px solid white;
    color: #E5E7EB;
    font-size: 15px;
    border-radius: 8px;
    padding: 5px 25px 5px 25px;
    
}

h4 {
    color: #1F2937;
    font-size: 18px;
    text-align: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    width: 500px
}

.img-header {
    border: 1px solid white;
    background: darkgrey;
    height: 250px;
    width: 550px;
}

.middle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.caption {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;   
}

.img {
    border: 3px solid royalblue;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.quote-content {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
    align-items: center;
    justify-content: space-around;
    padding: 150px;
    flex-basis: 300px;
}



.quote {
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    flex: 1 1 auto;
}

.citation {
    color: #1F2937;
    font-size: 22px;
    margin-left: 0;
    justify-self: flex-end;
}

.contain {
    display: flex;
    flex-direction: column;
}

.action-container {
    display: flex;
    background:#F9FAF8;
    align-items: center;
    justify-content: center;

}

.call-action {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background: #3882F6;
    padding: 50px 600px 50px 600px;
    margin: 100px;

}

.text {
    color: white;
}

.call {
    font-weight: 900;
    color: white;
    font-size: 25px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3882F6;
    border: 1px solid white;
    color: #E5E7EB;
    font-size: 15px;
    border-radius: 8px;
    padding: 5px 25px 5px 25px;
}